* {
  margin: 0;
  padding: 0;
  color: #314d3e;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  font-family: Arial, sans-serif;
  background-color: #bcb8b8;
  width: 500px;
  box-sizing: border-box;
}

h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.container {
  margin: 2px 5%;
  padding: 5%;
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#page0 {
  display: block;
  text-align: center;
  display: none;
}

#page1 {
  display: none;
}

#page2 {
  display: block;
}

#page3 {
  display: none;
}

#page4 {
  display: none;
}

.successMessage {
  text-align: center;
  color: green;
}

.errorMessage {
  text-align: center;
  color: rgb(255, 77, 6);
}

#areYouSure {
  padding: 2px;
  margin-top: 4px;
  text-align: center;
}

#currentTabUrl {
  color: rgb(60, 4, 200);
  padding: 2px;
  text-align: center;
}

.brandName {
  color: black;
  padding: 2px;
  border-radius: 10px;
  margin: 10px;
  font-size: 50px;
  margin-bottom: 20px;
  font-size: 20px;
  margin: 5px 5%;
  font-family: Monospace;
}

.goHomeBtn {
  background-color: yellow;
  color: black;
}

#confirmBtn {
  background-color: #55eb2c;
}

#lockBtn {
  width: 100%;
}

#passwordContent {
  padding: 2px;
  margin-bottom: 4px;
  color: rgb(21, 139, 0);
}

#passwordEntered {
  padding: 2px;
  margin-bottom: 4px;
}

.showPassword {
  padding: 2px;
  margin-bottom: 10px;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 5px 10px;
  margin: 10px 0px;
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #2980b9;
}

#updateAndForgotPassword {
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 5px 0;
  margin-bottom: 5px;
}

#updateAndForgotPassword:hover {
  border: 1px solid red;
}

.updatePassBtn, .forgotPassBtn, .deleteAllDataBtn {
  color: black;
  width: 33%;
  margin: 0;
  border-radius: 10px;
  font-size: 14px;
  margin: 0 5px;
}

.updatePassBtn {
  background-color: rgba(0, 255, 0, 0.526);
}

.forgotPassBtn {
  background-color: rgba(255, 255, 0, 0.476);
}

.deleteAllDataBtn {
  background-color: rgba(255, 0, 0, 0.476);
}

.updatePassBtn:hover {
  background-color: rgb(0, 255, 0);
  border: 1px solid black;
}

.forgotPassBtn:hover {
  background-color: yellow;
  border: 1px solid black;
}

.deleteAllDataBtn:hover {
  background-color: red;
  border: 1px solid black;
}